body {
  background-color: black;
}

.container {
  position: relative;
  text-align: center;
}

.titleText {
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing: 0.2em;
  font-size: 80px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subTitleText {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
  font-size: 28px;
  padding: 6px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 40%;
}